*:not(i) {
  font-family: "Signika", serif;
}

.detailArea {
  margin-top: 80px;
  display: flex;
  gap: 20px;
}

.detailArea .left {
  width: 40%;
  height: 600px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left .mainImg {
  width: 100%;
  height: 450px;
  object-fit: contain;
  border-radius: 8px;
  border: 2px solid #edeaea;
  padding: 15px;
}

.left .otherIMGS {
  display: flex;
  gap: 10px;
}

.otherIMGS img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  border: 2px solid #edeaea;
  padding: 10px;
  cursor: pointer;
  object-fit: contain;
}

.activeImg {
  border: 2px solid #0d6efd !important;
}

.middle {
  width: 34%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.middle h2 {
  font-size: 35px;
  font-weight: 600;
  color: #545454;
}

.middle .stars {
  display: flex;
  gap: 5px;
}

.middle .fa-star {
  color: #ff9017;
}

.middle ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 15px;
  color: #717171;
}

.middle h5,
.middle p {
  color: #717171;
}

.desc {
  position: relative;
}

.desc h3 {
  background-color: white;
  margin: 0 auto;
  width: fit-content;
  padding-inline: 10px;
  color: rgb(65, 64, 64);
}

.desc .line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #9da1a7;
  top: 50%;
  z-index: -1;
}

.right {
  position: sticky !important;
  top: 70px;
  width: 26%;
  height: 450px;
  box-shadow: 0.4px 1px 6px 0 #9da1a7;
  border-radius: 5px;
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
}

.right .prices {
  display: flex;
  gap: 15px;
  display: flex;
  align-items: center;
}

.right .prices h1 {
  font-size: 35px;
}

.right .disc {
  position: absolute;
  right: 0;
  top: 0px;
  background-color: red;
  padding: 4px 5px;
  font-size: 20px;
  border-bottom-left-radius: 10px;
  box-shadow: -2px 0.2px 4px 0 rgb(82, 81, 81);
}

.right .beforeDisc {
  text-decoration: line-through;
  color: #545454;
  font-size: 20px !important;
}

.right .quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 3px 0 grey;
  width: 120px;
  height: 40px;
  border-radius: 3px;
}

.right .quantity button {
  width: 30px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: grey;
  transition: 0.4s;
}

.right .quantity button:hover {
  color: black;
}

.cartBtn {
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #0d6efd;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
  font-family: "Exo", serif;
}

.cartBtn:hover {
  background-color: #670bdf;
  box-shadow: 0 0 10px 1px #7c2ae6;
}

.delivInfos {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #9da1a7;
}

.line {
  height: 1px;
  background-color: #f8f8f8;
}

.delivInfos i {
  width: 20px;
}

.delivInfos p {
  display: flex;
  gap: 10px;
}



.cartBtn:disabled {
  background-color: black;
  box-shadow: 0 0 10px 2px black;
  cursor:not-allowed;
}


.addSms {
  width: 300px;
  text-align: center;
  background-color: lightgreen;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 10px green inset, 0 0 10px green;
  color: darkgreen;
  position: absolute;
  bottom: -500px;
  left: 50%;
  transform: translate(-50%);
  transition: 1s;
  
}

@media screen and (max-width:998px) {
  .detailArea {
    flex-direction: column;
    align-items: center;
  }

  .detailArea  div {
    width: 80% !important;
    
  }

  .right .quantity {
    width: 100% !important;
    
  }
}