<section>
    <div class="relatedP">
      <h1 >Related Products</h1>
    </div>
    <main>
        @for (item of relatedProds; track $index) {
        <div class="card">
          <img
            [src]="!item.images[0] ? altImage : item.images[0]"
            alt="product"
          />
          <h4>{{ item.title }}</h4>
          <h2>
            ${{ item.price.current }} <sub>${{ item.price.beforeDiscount }}</sub>
          </h2>
          <p>
            {{ item.description }}
          </p>
          <div class="hiddenPart">
            <button (click)="otherRelatedPage(item._id)"><i class="fa-solid fa-eye"></i> See More</button>
          </div>
        </div>
        }
      </main>
  </section>