.relatedP {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 40px 0;
  }
  
  .relatedP::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(197, 197, 197);
    top: 50%;
    z-index: -1;
  }
  
  .relatedP h1 {
    background-color: white;
    padding-inline: 20px;
    font-family: "Exo", serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #244353;
  }
  
  section main {
    display: flex;
    justify-content: center;
    align-items: center;
  
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .card {
    width: 230px;
    height: 400px;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgb(192, 186, 186);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Exo", serif;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
  }
  .card:hover {
    transform: scale(1.04);
  }
  .card:hover img {
    transform: scale(1.07);
  }
  
  .card:hover .hiddenPart {
    
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 20px;
  }
  
  .card h4 {
    font-weight: 500;
  }
  
  .card h2 sub {
    font-size: 14px;
    text-decoration: line-through;
    font-weight: 500;
  }
  
  .card p {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  
  .card .hiddenPart {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 15px;
    padding-bottom: 20px;
    transform: translateY(50px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
  }
  
  .card::after {
    content: "";
    position: absolute;
    height: 100%;
    backdrop-filter: grayscale(100%) blur(1px) brightness(80%);
    left: 0;
    top: 0;
    right: 0;
    opacity: 0;
    transition: 0.7s;
  }
  
  .card:hover::after {
    opacity: 1;
  }
  
  .card .hiddenPart button {
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Exo", serif;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .card .hiddenPart button i {
    font-size: 17px;
  }
  
  .card .hiddenPart button:hover {
    background-color: darkgoldenrod;
    box-shadow: 0 0 6px 2px darkgoldenrod;
  }