.area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100vh - 90px);

  width: 220px;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
}

.search span {
  font-size: 30px;
  position: absolute;
  left: 0px;
  padding-left: 15px;
}

.search input {
  padding-left: 45px;
  width: 250px;
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  margin: 10px 0;
  font-family: "Bokor", system-ui;
  color: rgb(75, 74, 74);
  background-color: transparent;
  transition: 0.5s;
}

.search input:focus {
  box-shadow: inset 0 0 10px 0px rgb(212, 211, 211);
}

.search input::placeholder {
  font-family: "Bokor", system-ui;
  letter-spacing: 0.6px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

ul li {
  padding-left: 15px !important;
  display: flex;
  align-items: center;
  font-family: "Exo", serif;
  gap: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  padding: 0.5px 0;
  transition: 0.5s;
}

.activedBrand {
  box-shadow: inset 0 0 10px 0px rgb(200, 205, 212);
}

li:hover {
  text-shadow: 0 0 3px grey;
  background-color: rgb(245, 244, 244);
}

ul li img {
  width: 20px;
}

h1 {
  font-size: 25px;
  border-bottom: 1px solid rgb(206, 205, 205);
  text-align: center;
  padding-bottom: 9px;
  font-family: "Calistoga", serif;
  font-weight: 500;
}

.prices,
.rating {
  padding-inline: 15px;
  display: flex;
  justify-content: space-between;
  font-family: "Exo", serif;
}

h4 {
  font-size: 13px;
}

.prices input,
.rating input {
  width: 45px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(206, 205, 205);
  text-align: center;
  font-family: "Exo", serif;
}

.sort {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  font-family: "Exo", serif;
  padding-inline: 15px;
}

.sort select {
  width: 100%;
  height: 30px;
  outline: none;
  border: 1px solid grey;
  border-radius: 4px;
  font-family: "Exo", serif;
  box-shadow: inset 0 0 6px 0px rgb(212, 211, 211);
  cursor: pointer;
  font-size: 11px;
}

button {
  display: block;
  margin: 20px auto;
  width: 70%;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #7c2ae6;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
  font-family: "Exo", serif;
}

button:hover {
  background-color: #670bdf;
  box-shadow: 0 0 10px 1px #7c2ae6;
}

@media screen and (max-width: 786px) {
  .area {
    flex-direction: row;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    width: 100%;
  }

  .area .search {
    width: 90vw;
    flex-shrink: 0;
    /* margin: auto; */
  }

  .area .search input {
    width: 60%;
    margin: 30px auto;
  }

  .search span {
    display: none !important;
  }
  .area .brands {
    width: 95vw;
    flex-shrink: 0;
  }

  .brands ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .prices,
  .rating {
    display: flex;

    flex-shrink: 0;
    width: 70vw;
    margin: 10px auto;
  }

  .area button {
    margin: 20px !important; 
  }
}
